@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Specific
    4. Areas
        4.1 Header
            4.1.1 Navigation Bar
            4.1.2 Hero Section
        4.2 Main
        4.3 Footer
            4.3.1 Form
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /*border: 1px solid red;*/
}

:root {
    --blue-color: #4845E4;
    --lightgrey-color: #F3F6F9;
    --black-color: #0C0C0C;
    --grey-color: grey;
}
/* ------------------------------- 2. Typography ----------------------------------- */

h1  {
    font-family: 'Gochi Hand', cursive;
    font-size: 100px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}
/* ------------------------------- 3. Layout --------------------------------------- */
/* ---------------------- 3.1 Reusables ----------------------- */
.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.innerContainer {
    flex-basis: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
}


/* ---------------------- 3.2 Specific ------------------------ */

.nameList {
    background-color: var(--lightgrey-color);
    max-width: 1200px;
    border-radius: 10px;
    border: var(--grey-color) 2px solid;
}

.nameList > ul > li {
    list-style: none;

}
/* ------------------------------- 4. Areas ---------------------------------------- */
/* ---------------------- 4.1 Header -------------------------- */
/* --------------- 4.1.1 Navigation Bar ---------------- */
/* --------------- 4.1.2 Hero Section ------------------ */
/* ---------------------- 4.2 Main ---------------------------- */
.blue {
    color : blue;
}

.red {
    color : red;
}

.darkgreen {
    color: darkgreen;
}

.yellow {
    color: #FFD435;
}

.purple {
    color: purple;
}

.lightgreen {
    color: lightgreen;
}

.landBox {
    display: flex;
    flex-basis: 200px;
}

.landBox > img {
    width: 70px;
}
/* ---------------------- 4.3 Footer -------------------------- */
footer {
    background-color: var(--black-color);
    color: white;
    padding: 1rem;
}
/* ------------------------------- 5. Media Queries -------------------------------- */